
<%- include('header') -%>


    <div class="header">
       <h1 class="heading-title">Recipe Viewer</h1>
       <p class="alert">Enter value to search</p>
        <form action="/" method="post" class="d-flex justify-content-center">
            <input class="form-control inputArea" type="text" name="recipeInput" placeholder="Search here" required>
            <button type="submit" class="btn btn-success ml-1 srchBtn">Search</button>
            </form>
     </div>
   
    <div class ="container">
                 <%  labels.forEach((item) => { %>
                    <div class="card" style="width: 15rem; height:auto;">
                        <img src="<%= item.img %>" alt="" height = "200" width ="239">
                        <div class="card-body">
                            <a href="/recipe/<%= item.label%>"><%= item.label %></a>
                        </div>
                      </div>
                      <% }) %>
                  </div>
<%- include('footer') -%> 
